.footer {
    background-color: white;
    /* min-height: 80px; */
    height: 100%;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer h3 {
    
    background: linear-gradient(90deg, #4b43ff, #5ba8ff);

    /* -webkit-background-clip: text;

    -webkit-text-fill-color: transparent; */
    background-clip: text;
    color: transparent;
}